#test {
	margin: 10px auto 0;
	border: 3px solid silver;
	text-align: center;
	column-span: none;
	border-collapse: collapse;
}

#test td {
	width: 50px;
	height: 50px;
}

#test tr:nth-of-type(odd) td:nth-of-type(odd) {
	background: silver;
}

#test tr:nth-of-type(even) td:nth-of-type(even) {
	background: silver;
}
